HTML{
    font-size: 16px;
    font-family: Arial;
    background-color: var(--color-iron);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}

/* <home.html> */

.maincontainer{
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}

.containertheme{
    display: flex;
}

.img_theme{
    position: relative;
    background-size: cover;
    width: 50%;
    padding-bottom: 50%;
    height: 0;
    margin: 0 auto;
}

.textcontainer_theme{
    max-width: 50%;
}

.textcontainer_title{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.containerweitereInfos{
    height: 1%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1.5%;
    margin-bottom: 3%;
}

.weitereInfos{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-right: 10%;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
    padding: 1.5%;
    border-radius: 10px;
}

.weitereInfos:hover{
    background-color: rgba(100, 149, 237, 0.25);
    transition: background-color 0.7s;
}

.container_maintext{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    height: 50%;
}

.maintext{
    height: 100%;
    width: 100%;
    font-size: 2rem;
    overflow: auto;
}

.containerrest{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rest{
    height: 2.5rem;
    width: fit-content;
    font-size: 2rem;
    font-weight: lighter;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 0.75%;
    color: goldenrod;
    border-color: currentColor;
}

.rest:hover{
    background-color: rgba(218, 165, 32, 0.4);
    transition: background-color 0.6s;
}

/*
.textcontainer_theme_left{
    display: inline-block;
    width: 50%;
    height: 50vw;
}

.containertheme{
    width: 100%;
    padding-top: 50%;
}

.container_imgtheme1{
    display: inline-block;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: pink;
}

.container_texttheme1{
    display: inline-block;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 50px;
}  

.container_imgtheme2{
    display: inline-block;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 50px;
}

.container_texttheme2{
    display: inline-block;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}  

.imgtheme{
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-image: url(img/Home/Home_1503.jpg);
}

.texttheme{
    margin: 50px;
    color: black;
}*/

/*   </home.html>  

    <index.html> */

.header_container{
    width: 100%;
    height: 7vh;
    background-color: black;
    display: flex;
    align-items: center;
}

.header_index{
    width: 15%;
    background-size: cover;
    margin-left: 1%;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;    
}

.header_main{
    height: 100%;
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_main_link{
    font-size: 1rem;
    color: rgba(240, 248, 255, 0.623);
}

.header_main_link:hover{
    color: white;
    transition: color 0.7s;
}

.header_icons_container{ 
    width: 12%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 2%;
}

.header_icons_text{
    color: white;
    font-size: 1.1rem;
}

.header_icons_icon{
    background-size: cover;
    margin: 0 auto;
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    position: relative;
}

#menu{
    position: absolute;
    top: 7%;
    width: 100%;
    height: 93vh;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 2;
    display: block;
    visibility: hidden;
}

.ende_container1{
    background-color: black;
    width: inherit;
    height: 30vh;
    margin-top: 5%;
}

.ende_headline{
    color: white;
}

/* </index.html>

    <weitereinfos.html> */

.maincontainer_wI{
    display: flex;
    width: 100%;
}

.wI_basecontainer{
    width: inherit;
    height: 93vh;
    color: white;
    overflow: auto;

}

.wI_navigation{
    width: 7%;
    display: flex;
    flex-direction: column;
    background-color: rgba(100, 149, 237, 0.45);
    height: 93vh;
    justify-content: space-around;
    align-items: center;
}

.wI_navigation_Einheit{
    width: 80%;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.wI_headline{
    font-size: 2rem;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;    
    text-decoration: underline;
    width: 50%;
    text-align: center;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
}

.wI_text{
    margin-top: 1%;
    font-size: 1.3rem;
    color: black;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.wI_quelle{
    font-size: 0.8rem;
    color: black;
    margin-top: 0.5%;
    margin-right: auto;
    margin-left: 65%;
}