HTML{
    font-size: 16px;
    font-family: Arial;
    background-color: var(--color-iron);
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}

.maincontainer{
    height: auto;
    margin-bottom: 5%;
}

.home_Bildervorschau{
    height: 93vh;
    width: 100%;
    display: flex;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
    justify-content: space-between;
    align-items: center;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.blockscrolling_Bildervorschau{
    height: 93vh;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.home_Bildervorschau::-webkit-scrollbar{
    display: none;
}

.home_img_parallax{
    /* !important bei widht und height um zu priorisieren und somit das Sichtfenter zu verkleinern */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Bildervorschau_Bild{
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Bildervorschau_Logo_container{
    height: 20%;
    width: 50%;
    position: absolute;
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
} 

.Bildervorschau_Logo_container::-webkit-scrollbar{
    display: none;
}

.Bildervorschau_Logo{
    width: 100%;
    min-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.containertheme1{
    display: flex;
    justify-content: center;
}

.containertheme2{
    display: flex;
    justify-content: center;
}

.img_theme{
    position: relative;
    background-size: contain;
    width: 50%;
    padding-bottom: 50%;
    height: 0;
    margin: 0 auto;
}

.textcontainer_theme{
    max-width: 50%;
}

.textcontainer_title{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.containerweitereInfos{
    height: 1%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1.5%;
    margin-bottom: 3%;
}

.weitereInfos{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-right: 10%;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
    padding: 1.5%;
    border-radius: 10px;
}

.weitereInfos:hover{
    background-color: rgba(100, 149, 237, 0.25);
    transition: background-color 0.7s;
}

.container_maintext{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    height: 50%;
}

.maintext{
    height: 100%;
    width: 100%;
    font-size: 2rem;
    overflow: auto;
}

.containerrest{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rest{
    height: 2.5rem;
    width: fit-content;
    font-size: 2rem;
    font-weight: lighter;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 0.75%;
    color: goldenrod;
    border-color: currentColor;
}

.rest:hover{
    background-color: rgba(218, 165, 32, 0.4);
    transition: background-color 0.6s;
}

.header_container{
    width: 100%;
    height: 7vh;
    background-color: black;
    display: flex;
    align-items: center;
    z-index: 3;
}

.header_index{
    width: 15%;
    background-size: cover;
    margin-left: 1%;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;   
}

.header_main{
    height: 100%;
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_main_link{
    font-size: 1rem;
    color: rgba(240, 248, 255, 0.623);
}

.header_main_link:hover{
    color: white;
    transition: color 0.7s;
}

.header_icons_container{ 
    width: 12%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: none;
    margin-right: 2%;
}

.header_icons_text{
    color: white;
    font-size: 1.1rem;
}

.header_icons_icon{
    background-size: cover;
    margin: 0 auto;
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    position: relative;
}

#menu{
    position: absolute;
    top: 7%;
    width: 100%;
    height: 93vh;
    background-color: rgba(0, 0, 0, 0.91);
    z-index: 3;
    display: block;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu_theme{
    width: 100%;
    color: aliceblue;
    font-size: 3rem;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
}

.maincontainer_wI{
    width: 100%;
    display: flex;
    z-index: -2;
    position: absolute;
    top: 7vh;
    left: 0;
}

.wI_basecontainer{
    position: relative;
    width: 80%;
    color: white;
}

.wI_navigation1{
    position: fixed;
    right: 0;
    width: 10%;
    display: flex;
    flex-direction: column;
    height: 93vh;
    justify-content: space-around;
    align-items: center;
}

.wI_navigation2{
    position: fixed;
    right: 10%;
    width: 10%;
    display: flex;
    flex-direction: column;
    height: 93vh;
    justify-content: space-around;
    align-items: center;
}

.wI_navigation_container{
    background-color: rgba(100, 149, 237, 0.45);
    height: 93vh;
    width: 20%;
    position: fixed;
    bottom: 0;
    right: 0;
}

.wI_navigation_container:hover{
    border-radius: 30px;
    transition: 1s;
    background-color: rgba(100, 149, 237, 0.3);
}

.wI_navigation_rest{
    height: 7vh;
    width: 20%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(100, 149, 237, 0.45);
    z-index: -1;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-size: 1.5rem;
    text-align: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(56, 87, 145, 0.6);
}

.wI_navigation_rest:hover{
    border-radius: 30px;
    transition: 1s;
    background-color: rgba(56, 87, 145, 0.3);
}

.wI_navigation_Einheit{
    width: 80%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
}

.wI_navigation_Einheit:hover{
    background-color: rgba(100, 149, 237, 0.6);
    transition: 1s;
    border-radius: 50px;
}

.wI_headline{
    padding-bottom: 20%;
    width: 20%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 2%;
}

.nohover:hover{
    background-color: currentColor !important;
    border-radius: 0px !important;
    transition: 0s;
}

.wI_headline:hover{
    background-color: rgba( 0, 225, 225, 0.2);
    border-radius: 150px;
    transition: 1s;
}

.buildings_headlineicon{
    margin-left: 1%;
    width: 7%;
    padding-bottom: 7%;
    background-image: url(img/index/Icons/gallery.ico);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.buildings_headlineicon:hover{
    border: 1px solid rgba(73, 73, 184, 0.986);
    border-radius: 100px;
    transition: 2s;
}

.halfpadding{
    width: 40%;
    padding-bottom: 10%;
}

.wI_text{
    margin-top: 4%;
    font-size: 2rem;
    color: black;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.wI_quelle{
    font-size: 1rem;
    color: black;
    margin-top: 0.5%;
    margin-right: 5%;
    margin-left: 50%;
}

.build_navigation{
    position: fixed;
    right: 0;
    width: 10%;
    display: flex;
    flex-direction: column;
    background-color: rgba(100, 149, 237, 0.45);
    height: 93vh;
    justify-content: space-around;
    align-items: center;
}

.build_navigation:hover{
    border-radius: 30px;
    transition: 0.1s;
    background-color: rgba(100, 149, 237, 0.3);
}


.build_navigation_rest{
    height: 7vh;
    width: 10%;
    position: fixed;
    top: 0;
    right: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(56, 87, 145, 0.6);
    z-index: -1;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-size: 1.5rem;
    text-align: center;
    border-radius: 0px;
}

.unterThema{
    margin-right: auto;
    font-size: 2.5rem;
    text-decoration: underline;
    margin-top: 3.5%;
    color: black;
    margin-left: 10%;
    margin-bottom: 2.5%;
    display: flex;
    align-items: center;
}

.build_navigation_rest:hover{
    background-color: rgba(56, 87, 145, 0.3);
    transition: 1s;
    border-radius: 30px;
}

.width90{
    width: 90% !important;
}

.Ende{
    margin-bottom: 5%;
}

.jumptotop{
    height: 2.5rem;
    font-size: 2rem;
    font-weight: lighter;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 0.75%;
    color: goldenrod;
    border-color: currentColor;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

#ajumptotop{
    width: auto;
    height: auto;
}

.jumptotop:hover{
    background-color: rgba(218, 165, 32, 0.4);
    transition: background-color 0.6s;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: inherit;
}

#QuelledesUrspruenglichenTextes{
    color: blue;
    font-size: inherit;
    text-decoration: underline;
}

.gallery_main_container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.gallery_theme_first{
    height: 93vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery_theme_rest{
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery_theme_container{
    height: 100vh;
    width: 100%;   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
}

.gallery_theme{
    height: inherit;
    width: inherit;
    background-color: aliceblue;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5%;
}

.img_style1{
    width: 40%;
    padding-top: 10%;
}

.img_style2{
    width: 30%;
    padding-top: 15%;
}

.img_style3{
    width: 20%;
    padding-top: 30%;
}

.img_style4{
    width: 25%;
    padding-top: 20%;
}

.img_style5{
    width: 20%;
    padding-top: 20%;
}

.img_stylex{
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1%;
}

.img_stylex:hover{
    border: 3px solid gray;
}

.img_parallax{
    height: 40vh;
    width: 100%;   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

.gallery_big{
    height: 90vh;
    width: 100%;
    display: none;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(169, 169, 169, 0.8);
    position: fixed;
    color: darkgray;
    z-index: 2;
}

.gallery_kreuz{
    background-image: url(img/weitereInfos/Icon/kreuz.png);
    position: absolute;
    top: 2%;
    right: 2%;
    width: 4%;
    padding-bottom: 4%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery_kreuz:hover{
    background-color: rgba(129, 127, 127, 0.3);
    border-radius: 30px;
    transition: 0.5s;
}

.gallery_big_container{
    height: 100%;
    width: 85%;
    display: flex;
    overflow: auto;
    scrollbar-width: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.blockscrolling_gallery_big_container{
    height: 100%;
    width: 85%;
    position: absolute;
    left: 7.5%;
    top: 0;
    z-index: 2;
}

.gallery_big_container::-webkit-scrollbar{
    display: none;
}

.img_big{
    min-width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.img_big_parallax{ 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.scroll{
    height: 20%;
    background-size: contain;
    background-position: center;
    width: 3%;
    background-repeat: no-repeat;
}

.scroll:hover{
    background-color: rgba(129, 127, 127, 0.1);
    border-radius: 30px;
}

.pointer:hover{
    cursor: pointer;
}

.impressum_container{
    background-color: black;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.impressum{
    width: auto;
    min-width: 30%;
    height: 60%;
    color: white;
    font-size: 0.8rem;
    font-weight: 100;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.impressum_text{
    margin-top: 3%;
}

.mailto{
    text-align: inherit;
    color: lightblue;
    text-decoration: underline;
    width: min-content;
    margin-left: 0.5rem;
}

.li_impressum{
    display: flex;
    align-items: center;
}

.ul_impressum{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.headline_impressum{
    width: inherit;
    background-color: black;
    padding-left: 5%;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.1%;
    margin-top: -4%;
    
}

@media (max-width: 700px) {
    HTML{
        font-size: 15px;
    }
    
    .maincontainer_wI{
        max-width: 100vw;
        overflow: auto;
        justify-content: center;
    }

    .header_container{
        display: flex;
        justify-content: space-between;
    }

    .header_icons_container{
        display: flex;
        margin-right: 5%;
        justify-content: space-around;
    }

    .header_index{
        margin-left: 5%;
    }

    .wI_navigation_rest{
        display: none;
    }

    .build_navigation_rest{
        display: none;
    }
    
    .build_navigation{
        display: none;
    }
    
    .wI_navigation1{
        display: none;
    }
    
    .wI_navigation2{
        display: none;
    }
    
    .header_main{
        display: none;
    }   
    
    .wI_basecontainer{
        width: 100%;
    }
    
    .wI_headline{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 7%;
        margin-top: 5%;
    }

    .unterThema{
        margin-left: 3%;
        margin-bottom: 4%;
    
    }

    .wI_text{
        display: flex;
        justify-content: center;
        max-width: 100vw;
        overflow: auto;
        padding-left: 1%;
        padding-right: 1%;
        font-size: 1.2rem;
    }

    .containertheme1{
        flex-direction: column;
        height: 200vh;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .containertheme2{
        flex-direction: column-reverse;
        height: 200vh;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .img_theme{
        width: 100%;
        padding-bottom: 100%;
        background-repeat: no-repeat;
    }

    .textcontainer_theme{
        max-width: 80%;
        height: 50%;
    }
    
    .containerweitereInfos{
        display: none;
    }
    
    .container_maintext{
        width: 100%;
    }

    .maintext{
        height: 180%;
        margin-top: 2%;
    }

    .containerrest{
        display: none;
    }

    .textcontainer_title{
        margin-top: 0;
    }
        
    .header_icons_icon{
        width: 50%;
        padding-bottom: 50%;
    }

    .jumptotop{
        display: none;
    }

    .blockscrolling_gallery_big_container{
        display: none;
    }

    .wI_navigation_container{
        display: none;
    }
}